.google-map {
    /* Must set map container height explicitly!! No % for height; % for width OK (otherwise vh/vw better than px) */
    height: 100vh; 
    width: 100%;
    padding: 0px;
    /* margin: 5% 5%; */
    /* align-items: center; */
    /* outline: 1px dotted rgb(43, 255, 0); */
}


/* add pin and Icon HERE */