.googleMap {
    /* Must set map container height explicitly!! No % for height; % for width OK (otherwise vh/vw better than px) */
    height: 100vh; 
    width: 100%;
    padding: 50px;
    /* outline: 1px dotted rgb(43, 255, 0); */
}


/* add pin and Icon HERE */
.pinDiv {
    color: yellow;
    /* outline: 1px dotted red; */
    display: flex;
    /* align-items: center; vertical align */ 
    /* justify-content: center; horizontal align */
    width: 200px;
    /* color: var(--main-red); */
}

.pinIcon {
    font-size: 1.5rem;
}

.pinText{
    font-size: 1.3rem;
}