// import this variables file in other scss files import section:
// @use "variables" as v;
// @use "filePath/scssPartialFilenameWithout_Underscore";

//apply variables in other scss files:
// color: v.$grey-blue;

//color
$warn-red: red;
$grey-blue: rgba(48, 64, 150, 0.829); //#61dafb;
$brown: rgb(148, 74, 74);

//alignment
$center-align: center;
$left-align: left;


//debugging
$debug-green: 2px dotted green;
$debug-red: 2px dotted red;
$debug-orange: 2px dotted orange;
$debug-blue: 2px dotted blue;
$debug-pink: 2px dotted palevioletred;