//compile scss:
//sass ./src/compFormSCSS/scss/LoginForm-Display.scss ./src/compFormSCSS/css/LoginForm-Display.css --watch

@use "variables" as v;

// LoginForm
%theme {
  margin: 50px;
  padding: 30px;
}

form {
  @extend %theme;
  // margin: 50px;
  // padding: 30px;
  color: v.$grey-blue;
  border: 2px ridge v.$grey-blue;
}

.container-label-input {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

label {
  margin: 5px;
  width: 15%;
  text-align: right;
  // @extend .green;
}

.container-input-err {
  display: inline-flex; //use inline-flex, not flex for the 2nd flex container
  flex-direction: column;
  align-items: flex-start;
  // width: 60%;  //*need this if prefer input box bigger
  // @extend .red;
}

input {
  // width: 40%;  //*need this (and above witdth) if prefer input box bigger
  margin: 5px;
  border-width: 2px;
  border-color: grey;
  border-radius: 5px;
  height: 25px;
}

p {
  margin-left: 170px;
}

.err-warning {
  margin: 5px;
  color: v.$warn-red;
  font-size: small;
}

//LoginDisplay
.display {
  @extend %theme;
  // margin: 10px;
  // padding: 30px;
  color: v.$brown;
  font-weight: bold;
  @extend .pink;
}

.container-label-data {
  @extend .container-label-input;
}

.display-label {
  @extend label;
  font-weight: bold;
  color: v.$brown;
  // text-decoration: underline;
  // outline: v.$debug-orange;
}

.display-data {
  @extend label;
  text-align: left;
}

//debugging
.red {
  outline: v.$debug-red;
}

.green {
  outline: v.$debug-green;
}

.pink {
  outline: v.$debug-pink;
}
