//compile scss:
//sass ./src/compFormSCSS/scss/LoginForm-Display.scss ./src/compFormSCSS/css/LoginForm-Display.css --watch

@use "variables" as v;

// LoginForm
%theme {
  margin: 10px;
  padding: 30px;
}

form {
  // text-align: v.$centerAlign;
  // align-items: v.$centerAlign;
  @extend %theme;
  // margin: 10px;
  // padding: 30px;
  color: v.$grey-blue;
  border: 1px solid v.$grey-blue;
}

.container-label-input {
  display: flex;
  // flex-direction: column;
  flex-direction: row;
  justify-content: flex-start;
}

label {
  margin: 5px;
  width: 15%;
  text-align: right;
}

input {
  margin: 5px;
  width: 30%;
  border-width: 1px;
  border-color: lightgrey;
  border-radius: 5px;
  height: 25px;
}

p {
  margin-left: 100px;
}

.err-warning {
  margin: 7px;
  margin-left: 260px;
  color: v.$warn-red;
  font-size: small;
}



//LoginDisplay
.display {
  @extend %theme;
  // margin: 10px;
  // padding: 30px;
  color: v.$brown;
  font-weight: bold;
  outline: v.$debug-pink;
}

.container-label-data {
  @extend .container-label-input;
}

.display-label {
  @extend label;
  font-weight: bold;
  color: v.$brown;
  //   text-decoration: underline;
  // outline: v.$debug-orange;
}

.display-data{
  @extend label;
  text-align: left;
}

//debugging
.red {
  outline: v.$debug-red;
}

.green {
  outline: v.$debug-green;
}