//compile scss:
//sass ./src/compFormSCSS/scss/LoginDisplay.scss ./src/compFormSCSS/css/LoginDisplay.css --watch

// @use "variables";  call it by variables.$brown if not using `as v`
@use "variables" as v;

.display {
  // margin: 40px;
  margin: 10px;
  padding: 30px;
  color: v.$brown;
  font-weight: bold;
  outline: v.$debug-pink;
}

.displayLabel {
    width: 20%;
    text-align: right;
    font-weight: bold;
    color: v.$brown;
    // text-align: v.$leftAlign;
//   text-decoration: underline;
  outline: v.$debug-orange;
}

.red {
  outline: v.$debug-red;
}

.green{
  outline: v.$debug-green;
}

//delete this - no longer needed