//compile scss:
//sass ./src/compFormSCSS/scss/Login.scss ./src/compFormSCSS/css/Login.css --watch


@use "variables" as v;
// $greyBlue: rgb(46, 46, 134); //#61dafb;
// $brown: brown;
// $centerAlign: center;

form{
  text-align: v.$centerAlign;
  align-items: v.$centerAlign;
  padding: 20px;
  color: v.$greyBlue;
  border: 1px solid v.$greyBlue;
  /* outline: 2px dotted blueviolet; */
}
  
  
.display{
  color: v.$brown;
  font-weight: bold;
  text-align: v.$centerAlign;
}

.errWarning{
  color: v.$redWarning;
  font-size: small;
}