.footerIcon {
    display: flex;
    flex-direction: row;
    align-items: center;  /* vertical align */
    /* justify-content: space-between;  horizontal align */
    height: 100px;
    width: 300px;
    margin-left: 40%;
    outline: 3px dotted red;
}

/* .debugOutline {
    outline: 1px dashed olive;
} */